td {
  padding: 10px;
  border: 1px solid #fff;
  text-align: center;
  color: rgb(63, 63, 62);
}

.line {
  padding: 10px;
  border: 1px solid #fff;
  text-align: center;
}

.line:nth-child(2n) {
  background-color: rgb(240, 236, 236);
}
