.transactionHistory {
  width: 400px;
  margin: 0 auto;
  border-collapse: collapse;
}

table th {
  padding: 10px;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  background-color: rgb(91, 192, 192);
}
