.transactionHistory {
  width: 400px;
  margin: 0 auto 20px;
  border-collapse: collapse;

  border: 1px solid #e9eef3;
  border-radius: 5px;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.75);
}

table th {
  padding: 10px;
  border: 1px solid #fff;
  text-align: center;
  background-color: rgb(91, 192, 192);
  color: #fff;
}
